.card {
  width: 18rem;
  height: 150;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
}
.pb {
  width: 60px;
  position: relative;
  left: 120px;
  /* height: min-content; */
}
.card-img-top {
  max-block-size: 300px;
}
.card-img-top:hover {
  box-sizing: border-box;
  transform: scale(1.1);
}
.card-title {
  /* justify-content: center;
  align-items: center; */
  margin: auto;
}
