.card {
  width: 18rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-img-top {
  src: "./pikaf.png";
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-img-top:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-img-top2 {
  src: "./pikab.png";
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-img-top2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
